.transactions {
    width: 90%;
    margin: 50px auto;
    padding: 25px;
    background: #2c2c2c;
    border-radius: 8px;
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.transactions h1 {
    color: #d8823c;
}

.transactions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactions__header .filter {
    background: #d8823c;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.transactions__body-container {
    color: white !important;
    border-radius: 4px !important;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: black !important;
}

.transactions__body-info {
    display: flex;
    color: gray;
    margin: 5px;
    padding: 10px;
}

.transactions__body-container:hover {
    background: #d8823c !important;
    cursor: pointer;
    .points {
        color: white !important;
    }
    span {
        color: #444444;
    }
}

.transactions__body-details .points {
    color: #d8823c;
}

.transactions__body-info p {
    width: 25%;
}

.transactions__body-details div{
    width: 100%;
    display: flex;
    span {
        display: none;
    }
}

.transactions__body-details p {
    width: 25%;
}

.transactions__body .more-details {
    background: black;
    padding: 10px;
    color: white;
    div {
        display: flex;
        padding: 5px;
        p:nth-of-type(1) {
            font-weight: bold;
            color: gray;
        }
    }
}

.transactions__body .more-details p {
    width: 25%;
}

.css-1iji0d4.Mui-expanded {
    background: #d8823c;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    background: #d8823c;
    .points {
        color: white;
    }
    span {
        color: #444444;
    }
}

@media (max-width: 1150px) {
    .transactions {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width: 900px) {
    .transactions__header {
        margin-bottom: 20px;
    }
    .transactions__body-info {
        display: none;
    }
    .transactions__body-details div{
        flex-direction: column;
        p {
            display: flex;
            width: auto;
            padding: 5px;
        }
        span {
            margin-right: 7px;
            display: inline;
            color: gray;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

@media (max-width: 600px) {
    .transactions {
        width: 100%;
        margin: 0;
        border-radius: 0;
        h1 {
            margin-bottom: 20px;
        }
    }
    .transactions__header {
        flex-direction: column;
        align-items: flex-start;
        .filter {
            margin-left: 0;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }
}