.alertBeforeAction {
}
.alertBeforeActionContent {
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.32s ease-in-out;
    flex: 1;
  }
  .actions {
    align-self: flex-end;
    margin-top: 1rem;
  }
}
