@import "../../../styles/mixins.scss";
@import "../../../styles/var.scss";

.customTabs {
  background-color: #fff;
  > .tabs {
    display: flex;
    border-radius: 0 !important;
    height: 4rem;
    > .tabItem {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1rem 0;
      cursor: pointer;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
      p {
        white-space: nowrap;
      }
      .tabItem_Iconlabel {
        margin-left: 1rem;
      }
    }
    .active {
      border-bottom: 0.3rem solid $primary;
      color: $primary;
      font-weight: 700;
    }
  }
}
.vertical-customTabs {
  display: flex;
  background-color: #fff;
  min-height: 70vh;
  > .tabs {
    z-index: inherit !important;
    display: flex;
    flex-direction: column;
    border-radius: 0 !important;
    flex: 0.15;
    // width: 15.5rem;
    border-right: 0.1rem solid $primary;
    // border-radius: 0.4rem 0 0 0.4rem !important;
    > .tabItem {
      z-index: inherit !important;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 1.5rem 3rem;
      cursor: pointer;
      height: 2rem;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
      p {
        margin-left: 1rem;
        white-space: nowrap;
      }
    }
    .tabItem_header {
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      p {
        font-size: 1.6rem;
        font-weight: 700;
      }
      border-bottom: 1px solid gray;
    }
    .active {
      border-right: 0.3rem solid $primary !important;
      color: $primary;
      font-weight: 700;
    }
  }
  > .tabData {
    flex: 0.85;
    position: relative;
    z-index: inherit !important;
    .tabData__space {
      height: 4rem;
    }
    .tabData__header {
      z-index: inherit !important;
      position: absolute;
      width: 100%;
      padding: 2rem 0;
      background-color: #fff;
      z-index: 100;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 2rem 0;
      cursor: pointer;
      height: 2rem;
      font-weight: 600;
      transition: all 0.1s ease-in-out;
      border-bottom: 1px solid gray;
      border-radius: 0 !important;
      p {
        margin-left: 1rem;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }
}
@include respond(phone) {
  .customTabs {
    > .tabs {
      // flex-wrap: wrap;
      // justify-content: center;
      // height: fit-content;
      // > .tabItem {
      //   width: 90px;
      //   height: 4rem;
      //   flex: unset;
      // }
    }
  }
}
@include respond(phone) {
  .customTabs {
    // position: absolute !important;
    // bottom: 0 !important;
    // width: 100vw;
    > .tabs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 1rem;
      height: 5rem;
      // width: %;
      margin: auto;
      overflow: hidden;
      .tabItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding: 0;
        // padding-bottom: 1.5rem;
        width: 0.25;
        .iconContainer {
          // background: rgb(255, 255, 255);
          padding: 0 2rem;
          z-index: 1;
          .icon {
            height: 3rem;
            width: 3rem;
            transition: all 0.32s ease-out;
          }
        }
        .tabItem_Iconlabel {
          transition: all 0.1s ease-out;
          position: absolute;
          bottom: 2rem;
          font-size: 0rem;
          margin: 0;
        }
        .tabItem_label {
          font-size: 1.6rem;
        }
      }
      .active {
        border-bottom: 0;
        color: $primary;
        font-weight: 700;
        .iconContainer {
          margin-bottom: 1rem;
          .icon {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
        .icon {
          height: 2rem;
          width: 2rem;
        }
        .tabItem_Iconlabel {
          bottom: 0rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .small {
    > .tabs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      height: 5rem;
      margin: auto;
      overflow: hidden;
      .tabItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        position: relative;
        width: 0.25;
        .iconContainer {
          // background: rgb(255, 255, 255);
          padding: 0 2rem;
          z-index: 1;
          .icon {
            height: 2rem;
            width: 2rem;
            transition: all 0.32s ease-out;
          }
        }
        .tabItem_Iconlabel {
          transition: all 0.1s ease-out;
          position: absolute;
          bottom: 2rem;
          font-size: 0rem;
          margin: 0;
        }
      }
      .active {
        border-bottom: 0;
        color: $primary;
        font-weight: 700;
        .iconContainer {
          margin-bottom: 0.5rem;
          .icon {
            height: 2rem;
            width: 2rem;
          }
        }
        .icon {
          height: 2rem;
          width: 2rem;
        }
        .tabItem_Iconlabel {
          bottom: -0.5rem;
          font-size: 1rem;
        }
      }
    }
  }
}
