.successMessageModal {
  display: flex;
  flex-direction: column;
  > .row1 {
    display: flex;
    align-items: center;
    p {
      font-size: 1.6rem;
      font-weight: bold;
      margin-left: 1rem;
    }
    margin-bottom: 1rem;
  }
  .button {
    width: 5rem;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
  }
  img {
    height: 5rem;
  }
}
